@mixin basicbox {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    justify-content: center;
}

.button-basic {
    background-color: #e89b6a;
    padding: 10px 15px;
    border: 0px;
    border-radius: 3px;
}