$headings-color: #e2625c;
$font-family-sans-serif: Helvetica, Arial, sans-serif;
$body-color: #FFFFFF;


nav {
    display: flex;
    justify-content: space-between;
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 10px 0px;
    transition: transform 0.3s ease;
}

nav a:hover {
    transform: scale(1.25);
}

.point {
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: #e89b6a;
    color: $body-color;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

body {
        h2 {
            color: $headings-color;
            display: block;
        }

        h3 {
            color: $headings-color;
        }

        p {
            color: #000000;
        }

    text-align: center;
    font-family: $font-family-sans-serif;
    margin: 0;
    padding: 0;
}

.point2 {
    background-color: #e4fdc3;
    color: $body-color;
    padding: 20px;
    border-radius: 10px;
    margin: 0px 20px 0px 20px;
        }

.point3 {
    width: 100%;
    padding: 30px 0px 10px 0px;
    background-color: #8ae2c8;
    color: $body-color;
    margin-left: auto;
    margin-right: auto;
        }

img {
    border-radius: 30px;
    width: 85%;
    min-width: 200px;
    padding: 20px;
    align-content: center;
}

.burgerbox {
    @include basicbox;
    margin: 10px 0px 25px 0px; 
}

#newsletter {
    width: 1%;
}

#twochefs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
}

#learnmore {
    margin: 0px 0px 10px 0px;
}

.recipebox {
    margin: 1em;
    display: flex;
    gap: 20px;
    margin: 10px;
}

button {
    @extend .button-basic;
    color: $body-color;
}

.email-form {
  display: flex;
  flex-direction: column;
}

#email-input {
    width: 250px;
    margin: 10px;
}

.blockit {
    flex: 1 0 15%;
}